.custom-button-microphone {
  background-color: #2747d7e4;
  /* Couleur de fond orange */
  color: white;
  /* Couleur du texte */
  border: none;
  /* Suppression de la bordure */
  border-radius: 50%;
  /* Rendre le bouton rond */
  width: 77px;
  /* Largeur */
  height: 80px;
  /* Hauteur */
  font-size: 24px;
  /* Taille de la police */
  cursor: pointer;
  /* Curseur au survol */
  transition: background-color 0.3s;
  /* Animation de transition */
  display: flex;
  /* Afficher en tant que flexbox */
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
  position: relative;
  /* Position relative pour les animations */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* Ombre portée pour un effet 3D */
}

.custom-button-microphone:hover {
  background-color: #2eb4d2;
  /* Couleur de fond orange plus foncé au survol */
}

.microphone-icon {
  width: 100%;
  /* Taille de l'icône */
  height: auto;
  /* Hauteur automatique pour maintenir les proportions */
}

.custom-button-microphone::after {
  content: "";
  /* Contenu vide pour créer l'effet de clignotement */
  position: absolute;
  /* Position absolue */
  top: -1px;
  /* Ajustement pour le pseudo-élément */
  left: -1px;
  /* Ajustement pour le pseudo-élément */
  width: calc(100% + 2px);
  /* Ajustement de la largeur */
  height: calc(100% + 2px);
  /* Ajustement de la hauteur */
  border-radius: 50%;
  /* Rendre le pseudo-élément rond */
  border: 3px solid rgba(255, 255, 255, 0.7);
  /* Bordure avec transparence */
  box-sizing: content-box;
  /* Calcul de la boîte basé sur le contenu */
  animation: pulsate 3s infinite;
  /* Animation de clignotement */
}

@keyframes pulsate {

  0%,
  100% {
    transform: scale(1);
    /* Échelle normale */
    opacity: 1;
    /* Opacité totale */
  }

  50% {
    transform: scale(1.1);
    /* Légèrement agrandi */
    opacity: 0.7;
    /* Légèrement transparent */
  }
}

.transcript-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
  /* Ajustez la distance du bouton */
}

.transcript-text {
  background-color: #102e4d;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}