/* Help.css */
.bg-blur {
    background-image: url('https://images.unsplash.com/photo-1478860409698-8707f313ee8b?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Remplacez par l'URL de votre image */
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  