/* src/components/Chatbot.css */

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chat-window {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fcfcfc;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    background-color: #0f0d9e;
    color: #fffefe;
}

.avatar img {
    width: 40px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.bot-info {
    display: flex;
    flex-direction: column;
}

.bot-name {
    font-weight: bold;
    font-size: 16px;
}

.bot-status {
    font-size: 12px;
    color: #fafafa;
}

.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
    overflow-y: auto;
}

.user-message {
    align-self: flex-end;
    padding: 10px;
    background-color: #3e0faa;
    color: #fff;
    border-radius: 8px;
    margin: 10px 0;
}

.bot-message {
    align-self: flex-start;
    padding: 10px;
    background-color: #d30d1d;
    color: #fff;
    border-radius: 8px;
    margin: 10px 0;
}

.chat-input {
    display: flex;
    align-items: flex-end;
    padding: 15px;
    border-top: 1px solid #eee;
}

input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

button:hover {
    background-color: #3e0faa;
}

.suggested-questions {
    padding: 10px;
    border-top: 1px solid #eee;
    background-color: #eee;
}

.suggested-question {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

.suggested-question:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 5px rgba(250, 250, 250, 0.918);
}

.suggested-question-text {
    background-color: #ffffff;

    font-size: 14px;
    color: #000000;
}

.suggested-question-icon {
    margin-right: 8px;
}

.close-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
}

.chatbot-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
}

.chatbot-button img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}


.chatbot-button:hover {
    background-color: #6b80db;
}