/* hero.css */

/* Background image for hero section */
.hero {
  background-image: url("https://static.wixstatic.com/media/82fcd3_ea79ad7188fe4c48b08711b923056ad1~mv2.jpeg/v1/fill/w_1891,h_1134,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/82fcd3_ea79ad7188fe4c48b08711b923056ad1~mv2.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 50%;
}

.pc-tab>input,
.pc-tab section>div {
  display: none;
}

#tab1:checked~section .tab1,
#tab2:checked~section .tab2,
#tab3:checked~section .tab3 {
  display: block;
}

.pc-tab {

  width: 80%;
  /* Modification de la largeur en 100% */
  max-width: none;
  /* Annule la largeur maximale définie */

  margin: 0 auto;
    
  }

  
#tab1:checked~nav .tab1,
#tab2:checked~nav .tab2,
#tab3:checked~nav .tab3 {
  label {
    color: white; /* Couleur du texte */
    padding: 7px 60px;
  border-radius: 4px;
  font-weight: bold; /* Met le texte en gras */

  }
  label:hover {
    color:rgb(94, 239, 232);; /* Couleur du texte au survol */
  }

}

.button-88 {
  background-color: rgb(78, 166, 201); /* Couleur de fond normale */
  color: white; /* Couleur du texte */
  border: none;
  padding: 7px 40px;
  border-radius: 4px;
  transition: background-color 0.3s; /* Transition douce pour la couleur de fond */
  margin-top: 10px; /* Ajoute une marge en haut de 10 pixels */

}

.button-88:hover {
  background-color: rgb(52, 52, 215); /* Couleur de fond au survol */
}


