/* hero.css */

/* Background image for hero section */
.hero {
  background-image: url("https://dolgoprudnyy.100potolkov.ru/images/s-fotopechatyu/nebo/nebo-99.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  height: 100vh;
  width: 100%;
}




.pc-tab>input,
.pc-tab section>div {
  display: none;
}

#tab1:checked~section .tab1,
#tab2:checked~section .tab2,
#tab3:checked~section .tab3 {
  display: block;
}








.pc-tab {

  width: 80%;
  /* Modification de la largeur en 100% */
  max-width: none;
  /* Annule la largeur maximale définie */

  margin: 0 auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
     li {
      label {

        float: left;
        padding: 8px 90px;
        border: 2px solid white;
        
        background-color: transparent;
        cursor: pointer;
        border-radius: 10%;
       

      }

    
    
  }

  
  
}



#tab1:checked~nav .tab1,
#tab2:checked~nav .tab2,
#tab3:checked~nav .tab3 {
  label {
    color: white; /* Couleur du texte */
    padding: 7px 60px;
  border-radius: 4px;
  font-weight: bold; /* Met le texte en gras */

  }
  label:hover {
    color:rgb(94, 239, 232);; /* Couleur du texte au survol */
  }

}

.button-88 {
  background-color: rgb(78, 166, 201); /* Couleur de fond normale */
  color: white; /* Couleur du texte */
  border: none;
  padding: 7px 40px;
  border-radius: 4px;
  transition: background-color 0.3s; /* Transition douce pour la couleur de fond */
  margin-top: 10px; /* Ajoute une marge en haut de 10 pixels */

}

.button-88:hover {
  background-color: rgb(72, 72, 220); /* Couleur de fond au survol */
}

.custom-container {
  max-width: 1000px; /* Définissez la largeur maximale souhaitée */
  margin-left: auto; /* Pour centrer le container horizontalement */
  margin-right: auto;
}

