/* header.css */

.nav-link {
  color: black; /* Couleur par défaut */
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
}
