/* Définition des styles pour la boîte "Pourquoi" */
.description-box3 {
    background-color: lightblue;
    /* Couleur bleu ciel */
    padding: 20px;
    width: 400px;
    height: 600px;
    color: black;
    /* Couleur du texte */
    position: relative;
    /* Position relative pour positionner les éléments enfants */
    text-align: center;
    /* Centrage du contenu horizontalement */
    align-self: flex-start;
    /* Pour aligner la boîte "Pourquoi" à gauche */
}

/* Styles pour le titre de la boîte "Pourquoi" */
.description-box3 h3 {
    font-size: 36px;
    /* Taille de police plus grande */
    font-weight: bold;
    color: white;
    position: absolute;
    /* Positionnement absolu pour centrer verticalement */
    top: 50%;
    /* Positionner le titre au milieu de la boîte */
    left: 50%;
    /* Centrer horizontalement */
    transform: translate(-50%, -50%);
    /* Centrer horizontalement et verticalement */
    transition: opacity 0.3s;
    /* Ajouter une transition pour le titre */
}

/* Animation pour les boîtes */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
        /* Déplacement vers le bas */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Retour à la position initiale */
    }
}

/* Styles pour les boîtes avec l'effet d'animation */
.description-box,
.description-box3 {
    animation: slideIn 5s ease forwards;
    /* Animation de 5 secondes avec une accélération constante */
}

/* Styles pour le paragraphe caché */
.hidden {
    display: none;
    /* Cacher le paragraphe par défaut */
}

/* Styles pour le paragraphe caché à l'intérieur de la boîte "Pourquoi" */
.description-box3 .hidden {
    display: none;
    /* Cacher le paragraphe par défaut */
    text-align: center;
    /* Centrage du texte horizontalement */
    color: rgb(110, 107, 107);
    /* Couleur du texte gris */
    letter-spacing: 1px;
    /* Espacement des lettres */
    padding-top: 30%;
}

.description-box {
    background-color: lightblue;
    /* Couleur bleu ciel */
    padding: 20px;
    width: 400px;
    top: 50%;
    /* Positionner au milieu verticalement */
    left: 70px;
    height: 600px;
    color: black;
    /* Couleur du texte */
    position: relative;
    /* Ajout d'une position relative pour positionner les éléments enfants */
    text-align: center;
    /* Centrer le contenu horizontalement */
    align-self: flex-start;
    /* Pour aligner la boîte "Présentation" en haut (à gauche) */
}

.description-box2 {
    background-color: lightblue;
    /* Couleur bleu ciel */
    padding: 20px;
    width: 400px;
    top: 10%;
    /* Position légèrement en dessous du box "Présentation" */
    height: 600px;
    color: black;
    /* Couleur du texte */
    position: relative;
    /* Ajout d'une position relative pour positionner les éléments enfants */
    text-align: center;
    /* Centrer le contenu horizontalement */
    align-self: center;
    /* Pour aligner la boîte "Nos valeurs" au centre */
}